/* 공통 스타일 */
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.search-input {
  margin-left: 20px;
  width: 100%;
  padding: 10px 12px 10px 50px;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: white;
  font-size: 16px;
  outline: none;
  transition: border-bottom 0.3s ease, width 0.3s ease;
  caret-color: red;
}

/* 밑줄 없음 (Empty 상태) */
.search-input:placeholder-shown {
  border-bottom: none; /* 아무 입력도 없을 때 밑줄 제거 */
}

.search-input::placeholder {
  color: #95a5a6;
  opacity: 1;
}

/* 밑줄 있음 (Active 상태: 입력 중) */
.search-input:focus:not(.search-complete) {
  border-bottom-color: #5a698f; /* 활성 상태 밑줄 */
}

/* 검색 완료 상태 (밑줄 없음) */
.search-input.search-complete {
  border-bottom: none; /* 검색 완료 후 밑줄 제거 */
}

/* 미디어 쿼리 */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .search-input {
    width: 80%;
    max-width: 600px;
    font-size: 0.9rem;
    padding: 10px 12px 10px 50px;
  }

  .search-icon {
    left: 30px; /* 아이콘 위치 고정 */
  }
}
