.custom-search-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  width: 1200px;/* SearchBar width */
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  cursor: pointer;
}

input[type="text"] {
  flex-grow: 1;
  height: 31px;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  padding-left: 8px; /* Padding for input text */
}

input::placeholder {
  color: var(--Greyish-Blue, #5A698F);
  font-size: 16px;
}

.red-bar {
  width: 2px;
  height: 31px;
  background: var(--Red, #FC4747);
  flex-shrink: 0;
  margin-left: 8px;
}

.grey-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1184px;
  height: 1px;
  background: var(--Greyish-Blue, #5A698F);
}
