/* 사이드바 스타일 */
.sidebar {
  width: 10vw; /* 화면 너비의 10% */
  max-width: 96px; /* 최대 너비 제한 */
  height: 100vh; /* 전체 화면 높이 */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161d2f;
  border-radius: 20px;
  margin-top: 32px;
  margin-left: 32px;
  transition: transform 0.3s ease; /* 숨김 효과에 부드러운 트랜지션 추가 */
}

.sidebar.hidden {
  transform: translateX(-100%); /* 사이드바 숨길 때 왼쪽으로 밀기 */
}

.red-icon img {
  margin-top: 30px;
  margin-bottom: 15px;
  width: 30px;
  height: 30px;
}

.icon {
  margin-top: 40px;
}

.icon img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.icon:hover img {
  opacity: 0.7;
  transform: scale(1.1); /* 살짝 확대 효과 */
}

/* 모바일 버전 */
@media (max-width: 768px) {
  .sidebar {
    width: 100vw; /* 모바일에서 화면 너비의 90% */
    max-width: 800px; /* 최대 너비 제한 */
    height: 66px; /* 모바일 사이드바의 세로 크기 */
    flex-direction: row; /* 아이콘을 가로로 배치 */
    position: relative;
    border-radius: 0;
    margin: 0;
    justify-content: center; /* 아이콘을 가운데 정렬 */
    z-index: 10;
  }

  .red-icon {
    position: absolute; /* 빨간 아이콘은 사이드바 중앙에서 벗어나도록 설정 */
    left: 20px; /* 왼쪽으로 이동 */
    margin-bottom: 10px;
  }

  .icon {
    margin-left: 15px;
    margin-bottom: 35px;
    margin-right: 15px;
  }
}
