.sidebar {
  width: 96px;
  height: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--Semi-Dark-Blue, #161D2F);
}

.icon {
  margin-top: 30px; /* 기본 마진 */
}

.new-icon {
  margin-top: 75px; /* 위로 75px 떨어진 위치 */
}
