.trending {
  margin-bottom: 40px;
}

.trending h2 {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.carousel {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.carousel::-webkit-scrollbar {
  height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

.carousel::-webkit-scrollbar-track {
  background-color: #292929;
}

.card {
  position: relative;
  min-width: 470px;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card-image-container {
  position: relative;
  height: 100%;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.card:hover .hover-overlay {
  opacity: 1;
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 28.5px;
  width: 117px;
  height: 48px;
}

.play-button img {
  width: 24px;
  height: 24px;
}

.play-button span {
  font-size: 18px;
  color: #FFF;
  margin-left: 10px;
}

.card-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.card-info p {
  font-size: 14px;
  opacity: 0.9;
  flex-direction: row;
  margin-bottom: -5px;
  margin-left: -8px;
}

.card-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.category-icon {
  width: 13px;
  height: 13px;
}

.bookmark-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
