.trending {
  margin-bottom: 40px;
}

.trending h2 {
  margin-bottom: 15px;
}

.carousel {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.carousel::-webkit-scrollbar {
  height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

.carousel::-webkit-scrollbar-track {
  background-color: #292929;
}

.card {
  min-width: 470px;
  height: 230px;
  background-color: #444;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  overflow: hidden;  /* 이미지가 카드 밖으로 넘치지 않도록 */
}

.card img {
  object-fit: cover;  /* 이미지가 카드 크기에 맞게 잘라서 표시 */
  width: 100%;
  height: 100%;
}
