.movies {
  color: #fff;
}

.movies-header {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.movie-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.movie-thumbnail {
  width: 100%;
  height: 174px;
}

.movie-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-info p,
.movie-info h3 {
  margin: 0;
  font-size: 14px;
}

.movie-info p {
  font-weight: 300;
  opacity: 0.8;
}

.category-icon {
  width: 13px;
  height: 13px;
  margin-right: 4px;
}

.bookmark-icon img {
  width: 25px;
  height: 25px;
}

.search-results {
  font-size: 25px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
