body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--Dark-Blue, #10141E);
  color: #fff;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.content {
  flex: 1;
  padding: 36px;
  overflow-y: auto;
}
