body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--Dark-Blue, #10141E);
  color: #fff;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.content {
  flex: 1;
  padding: 36px;
  overflow-y: auto;
  gap: 50px; /* 섹션 간 간격 */
}

.recommended {
  display: block; /* grid 적용 시 flex 영향 방지 */
}

.recommended h2 {
  margin-bottom: 20px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 열을 6개로 설정 */
  grid-template-rows: repeat(6, auto); /* 행을 4개로 설정 */
  gap: 20px; /* 카드 간 간격 설정 */
}



/* 부모 컨테이너 강제 적용 */
.content .recommended {
  display: grid; /* 부모 flex 영향 방지 */
  grid-template-rows: auto;
}

/* index.css 또는 App.css */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif; /* 글로벌 폰트 설정 */
}

body {
  font-family: 'Outfit', sans-serif; /* 기본 body 폰트 설정 */
}

@media (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr); /* 모바일에서는 2열 */
    gap: 10px; /* 카드 간격 축소 */
  }

  .search-bar {
    flex-direction: column; /* 검색바 세로 정렬 */
    gap: 10px;
  }
}
