/* 전역 스타일: 모든 .play-button 요소는 기본적으로 숨김 */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 28.5px;
  width: 117px;
  height: 48px;
  text-align: center;
  transition: all 0.3s ease;
  z-index: 10; /* 다른 요소와 겹치지 않도록 */
}

.play-button img {
  width: 24px;
  height: 24px;
}

.play-button span {
  font-size: 18px;
  color: #fff;
  margin-left: 10px;
}

/* 모든 .thumbnail-container에서 호버 시 .play-button이 나타나도록 설정 */
.thumbnail-container:hover .play-button,
.movie-thumbnail-container:hover .play-button {
  display: flex;
}

/* 전역적으로 모든 콘텐츠 이미지에 흐려지는 효과 적용 */
.thumbnail-container .movie-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.thumbnail-container:hover .movie-thumbnail {
  filter: grayscale(50%);
}

/* 호버 시에만 나타나는 모든 요소들에 대한 공통 설정 */
.thumbnail-container:hover .play-button,
.movie-thumbnail-container:hover .play-button,
.movie-item:hover .bookmark-icon img {
  display: flex; /* 호버시에만 나타나게 */
}
