/* 공통 스타일 */
.movie-info p,
.movie-info h3 {
  margin: 0;
  color: #fff;
  font-size: 14px;
}

.movie-info p {
  font-weight: 300;
  opacity: 0.8;
}

/* 추천 섹션 제목 스타일 */
.recommended h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

/* 영화 리스트 컨테이너 */
.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* 개별 영화 아이템 */
.movie-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.movie-item:hover {
  transform: scale(1.05);
}

/* 영화 썸네일 */
.movie-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* 오버레이 효과 */
.movie-thumbnail-container {
  position: relative;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.movie-thumbnail-container:hover .hover-overlay {
  opacity: 1;
}

/* 카테고리 아이콘 */
.category-icon {
  width: 13px;
  height: 13px;
  margin-right: 4px;
}

/* 북마크 아이콘 스타일 */
.bookmark-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark-icon img {
  width: 30px;
  height: 30px;
}

/* 검색 결과 텍스트 */
.search-results {
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  color: #fff;
}

/* 미디어 쿼리 - 모바일 */
@media (max-width: 768px) {
  .recommended-page .movie-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

/* 미디어 쿼리 - 데스크탑 */
@media (min-width: 1200px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }
}
