/* 헤더 스타일 */
.bookmarked-header {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.5px;
}  

/* 공통 스타일 */
.bookmarked-page .movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* 최소 크기를 280px로 업데이트 */
}

.bookmarked-page .movie-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.bookmarked-page .movie-item:hover {
  transform: scale(1.05);
}

.bookmarked-page .movie-thumbnail {
  width: 280px; /* 이미지 너비 */
  height: 174px; /* 이미지 높이 */
  object-fit: cover;
  border-radius: 8px;
}

.bookmarked-page .movie-info {
  padding: 10px;
  background: none;
  color: #ffffff;
  font-size: 14px;
}

.bookmarked-page .movie-info p {
  margin: 0;
  font-weight: 300;
  opacity: 0.8;
}

.bookmarked-page .bookmark-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.bookmarked-page .bookmark-icon:hover {
  transform: scale(1.2);
}

/* Movies 섹션 스타일 */
.bookmarked-page .bookmarked-movies-list .movie-item {
  background-color: #1e1e1e;
}

/* TV Series 섹션 스타일 */
.bookmarked-page .bookmarked-tvseries-list .movie-item {
  background-color: #2e2e2e;
}

/* 미디어 쿼리 - 모바일 레이아웃 */
@media (max-width: 768px) {
  .bookmarked-header {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .bookmarked-page .movie-list {
    grid-template-columns: repeat(2, 1fr); /* 모바일에서 2개씩 정렬 */
    gap: 10px;
  }

  .bookmarked-page .movie-thumbnail {
    width: 100%; /* 모바일에서도 유연한 크기 */
    height: auto;
  }

  .bookmarked-page .movie-info {
    font-size: 12px;
  }

  .bookmarked-page .bookmark-icon {
    top: 5px;
    right: 5px;
  }
}

/* 미디어 쿼리 - 데스크탑 레이아웃 */
@media (min-width: 1200px) {
  .bookmarked-header {
    font-size: 25px;
  }

  .bookmarked-page .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .bookmarked-page .movie-thumbnail {
    width: 100%; /* 고정 너비 */
    height: 174px; /* 고정 높이 */
  }

  .bookmarked-page .movie-info {
    font-size: 16px;
  }

  .bookmarked-page .bookmark-icon {
    top: 10px;
    right: 10px;
  }
}
